<!DOCTYPE html>
<html lang="en">
<head>
    <title>First ChatBot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chatbot.css') }}">
</head>
<body>
{#    <h1>This is the bot page.</h1>#}
{#    <p><strong>You: </strong>{{ user_input }}</p>#}
{#    <p><strong>Assistant: </strong>{{ bot_response }}</p>#}
{#    <form method="post" action="{{ url_for('chatbot') }}">#}
{#        <label for="message">Message</label>#}
{#        <input type="text" id="message" name="message" required>#}
{#        <button type="submit">Submit</button>#}
{#    </form>#}

<div class="chatbot-main-div">
    <div class="chatbot-container">
        <div class="chatbot-top-part">
            <img src="" alt="">
            <h3>Python Assistant</h3>
            <p>(Always online)</p>
        </div>
    </div>
</div>

</body>

</html>

