{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + problem.author.image_file ) }}" alt="Could not display picture">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user_problem', username=problem.author.username) }}">{{ problem.author.username }}</a>
              <small class="text-muted">{{ problem.date_posted.strftime('%d-%m-%Y %H:%M') }}</small>
                {% if problem.author == current_user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_problem', problem_id=problem.id) }}">Update</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ problem.title }}</h2>
            <p class="article-content">{{ problem.content }}</p>
          </div>
    </article>


    <div data-pym-src="https://www.jdoodle.com/embed/v1/7d6b9945fc8d49cb"></div>
      <button onclick="getCode()">Get Code</button>
      <button onclick="getOutput()">Get Output</button>
      <button onclick="clearCodeEditor()">Clear Code Editor</button>
      <script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript"></script>
      <script>
        function getCode() {
          pym.autoInitInstances[0].sendMessage('getCode')
        }
        window.addEventListener("message", (event) => {
          if (event.origin === "https://www.jdoodle.com" && event.data.script) {
            console.log(event.data.script)
          }
        });
      </script>
      <script>
            function getOutput() {
              pym.autoInitInstances[0].sendMessage('getOutput')
            }
                window.addEventListener("message", (event) => {
                  if (event.origin === "https://www.jdoodle.com" && event.data.output) {
                    console.log(event.data.output);
                    console.log("{{ problem.id }}")
                    toBackend(event.data.output)
                  }
            });

            function toBackend(output) {

                const problem_id = {{ problem.id }}

                fetch('/receive_output', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({ output: output, problem_id: problem_id })
                })
                .then(response => response.json())
                .then(data => {
                  console.log('Success:', data);
                  // Handle the response from the backend (e.g., display the result)
                })
                .catch((error) => {
                  console.error('Error:', error);
                });
            }
      </script>
      <script>
        function clearCodeEditor() {
          pym.autoInitInstances[0].sendMessage('clearCodeEditor')
        }
      </script>

{% endblock content %}
{% block coding_picture %}
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/black-laptop.png') }}" alt="Your Image">
        <div class="overlay-text">Expected Result: {{ problem.result }} </div>
    </div>
{% endblock %}


